*{
    margin:0;
    padding:0;
    font-family: 'Lato',sans-serif;
}
html{
    background-image: url('/images/ğ™³ğšŠğš›ğš”\ ğšŠğšŒğšŠğšğšğš–ğš’ğšŠ\ ğšğš›ğšğšŠğš–ğšœ\ \(@AcademiaDreams\)\ on\ X.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
main{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap:5%;
    background-image: url('/images/ğ™³ğšŠğš›ğš”\ ğšŠğšŒğšŠğšğšğš–ğš’ğšŠ\ ğšğš›ğšğšŠğš–ğšœ\ \(@AcademiaDreams\)\ on\ X.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height:100vh; 
    border: 1px solid black;
}

h1{
    /* background: rgb(190, 153, 123); */
    border-radius: 1rem;
    padding:2%;
    color: white;
    
}

.text-area{
    width:30%;
    height:200px;
    background-color: rgb(190, 153, 123);
    border-radius:30px;
    padding:3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    box-shadow:rgb(135, 132, 132) 0px 0px 20px;
}

.quote{
    font-size:20px;
    color: white;
}

.person{
    font-size:25px;
    color: rgb(67, 33, 9);
    font-weight: 700;
    margin-top:5%;
}

#new-quote{
    width:30%;
    height:50px;
    background: black;
    color:white;
    border-radius: 1rem;
    font-size: 15px;
    margin-top:2%;
}